#gameTable {
	/*width: 100%;*/
	position: relative;
	text-align: center;
}

#gridArea {
	font-family: courier;
	margin-top: 80px;
	text-align: left;
	position: relative;
	display: inline-block;
}

#playerPathArea, #solutionPathArea {
	position: absolute;
	display: inline-block;
	margin-top: 80px;
}

#playerPathArea span, #solutionPathArea span {
	
}
#playerPathArea span img, #solutionPathArea span img {

}

/*#gameTable span, #gameTable span img {
	width: 20px;
	height: 20px;
}*/

#gridArea span {
	margin: 1.5px 6px;
	/*line-height: 21px;*/
	display: inline-block;
	/*width: 18px;*/
	height: 18px;
}
#start {
	position: absolute;
}
#exit {
	position: relative;
}
#start, #exit {
	top: -10px;
	display: inline-block;
	text-align: center;
	margin: 0 0 0 -16px;
}

#userInputArea {
	display: none;
	margin-top: 150px;
	text-align: center;
}

.createButton {
	margin-top:20px;
}